{% extends "layout.html" %}
{% block container %}
<div class="flex justify-center mt-10">
    <div class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl p-6">
        <img class="object-cover w-full rounded-t-lg h-64 md:h-auto md:w-48 md:rounded-none md:rounded-l-lg" 
             src="{{ url_for('static', filename='img/usuario.png') }}" alt="Usuario">
        <div class="flex flex-col justify-between p-4 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">Nombre: {{ nombre }}</h5>
            <p class="mb-2 font-normal text-gray-700">Apellidos: {{ apellidos }}</p>
            <p class="mb-4 font-normal text-gray-700">Correo: {{ email }}</p>
            <p class="mb-4 font-normal text-gray-700">Telefono: {{ telefono }}</p>
            <a href="{{ url_for('index') }}" class="text-blue-600 hover:underline">Regresar a la lista</a>
        </div>
    </div>
</div>
{% endblock %}